In [1]:
import pandas as pd

In [4]:
sheet_id = "1xl5j4HdofudpJ1A1BmJC5JmES81k25um_AmP79xQDVY"
sheet_name = "scores_raw"
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"

In [7]:
df_scores=pd.read_csv(url)

In [8]:
df_scores

,Judge,Rider,Round,Run,Trick points total,Minor bails,Medium Bails,Severe bails,Difficulty,Variety,...,Tricks had the personal touch of the rider,login,insert date,update date,total_bails,total_footwork,t_score,a_score,flawless_victory,total_score
0,Lukasz Ciszak,Jelle Callens,Qualifiers,1.0,9.0,NaN,NaN,NaN,5.0,5.0,...,1.0,NaN,NaN,NaN,0,12,21,5,10,36
1,Lukasz Ciszak,Jelle Callens,Qualifiers,2.0,9.0,NaN,NaN,NaN,5.0,5.0,...,1.0,NaN,NaN,NaN,0,12,21,5,10,36
2,Simon Kux,Jelle Callens,Qualifiers,1.0,9.0,NaN,NaN,NaN,5.0,5.0,...,1.0,NaN,NaN,NaN,0,12,21,5,10,36
3,Simon Kux,Jelle Callens,Qualifiers,2.0,9.0,NaN,NaN,NaN,5.0,5.0,...,1.0,NaN,NaN,NaN,0,12,21,5,10,36
4,Sebastian Heupel,Jelle Callens,Qualifiers,1.0,9.0,NaN,NaN,NaN,5.0,5.0,...,1.0,NaN,NaN,NaN,0,12,21,5,10,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0

In [9]:
sheet_name = "Riders"
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
df_riders=pd.read_csv(url)
df_riders

,Rider,Division,"insert into event_rider(division,event_id,rider_name) values('Division',0,'Rider');"
0,Jelle Callens,Rookie,"insert into event_rider(division,event_id,ride..."
1,Samuel Schäder,Rookie,"insert into event_rider(division,event_id,ride..."
2,Stewart Storrar,Rookie,"insert into event_rider(division,event_id,ride..."
3,Oskar Kern,Rookie,"insert into event_rider(division,event_id,ride..."
4,Milo Zelov,Rookie,"insert into event_rider(division,event_id,ride..."
...,...,...,...
106,Christian Heise,Masters,"insert into event_rider(division,event_id,ride..."
107,João Ehrhardt Soares,Masters,"insert into event_rider(division,event_id,ride..."
108,Byron Lawrance,Masters,"insert into event_rider(division,event_id,ride..."
109,Monika Pasekel,Masters,"insert into event_rider(division,event_id,ride..."
110,Pedro José Delgado Antúnez,Masters,"insert into event_rider(division,event_id,ride..."

In [13]:
df_rider_small=df_riders[['Rider','Division']]
df_score_small=df_scores[['Judge','Rider','Round','Run','total_score']].copy()
df_score_detail=df_score_small.merge(df_rider_small,on=["Rider"])

In [14]:
df_score_detail

               Judge             Rider       Round  Run  total_score  Division
0      Lukasz Ciszak     Jelle Callens  Qualifiers  1.0           36    Rookie
1      Lukasz Ciszak     Jelle Callens  Qualifiers  2.0           36    Rookie
2          Simon Kux     Jelle Callens  Qualifiers  1.0           36    Rookie
3          Simon Kux     Jelle Callens  Qualifiers  2.0           36    Rookie
4   Sebastian Heupel     Jelle Callens  Qualifiers  1.0           36    Rookie
5   Sebastian Heupel     Jelle Callens  Qualifiers  2.0           36    Rookie
6         Kai Dunkel     Jelle Callens  Qualifiers  1.0           36    Rookie
7         Kai Dunkel     Jelle Callens  Qualifiers  2.0           36    Rookie
8     Patrick Lozano     Jelle Callens  Qualifiers  1.0           36    Rookie
9     Patrick Lozano     Jelle Callens  Qualifiers  2.0           36    Rookie
10     Lukasz Ciszak     Jelle Callens      Finals  1.0           36    Rookie
11     Lukasz Ciszak     Jelle Callens      Finals  2.0           36    Rookie
12         Simon Kux     Jelle Callens      Finals  1.0           36    Rookie
13         Simon Kux     Jelle Callens      Finals  2.0           36    Rookie
14  Sebastian Heupel     Jelle Callens      Finals  1.0           36    Rookie
15  Sebastian Heupel     Jelle Callens      Finals  2.0           36    Rookie
16        Kai Dunkel     Jelle Callens      Finals  1.0           36    Rookie
17        Kai Dunkel     Jelle Callens      Finals  2.0           36    Rookie
18    Patrick Lozano     Jelle Callens      Finals  1.0           36    Rookie
19    Patrick Lozano     Jelle Callens      Finals  2.0           36    Rookie
20     Lukasz Ciszak    Samuel Schäder  Qualifiers  1.0           84    Rookie
21     Lukasz Ciszak     Patrick Thies  Qualifiers  1.0          495  Amateurs
22  Sebastian Heupel        Oskar Kern  Qualifiers  1.0           56    Rookie
23        Kai Dunkel   Stewart Storrar  Qualifiers  2.0           74    Rookie
24     Lukasz Ciszak  Jakub Janczewski  Qualifiers  1.0           62  Amateurs

In [22]:
#-- run aggregates
run_agg=df_score_detail[['Rider','Round','Run','total_score','Division']].groupby(['Division','Round','Rider','Run'],as_index=False).aggregate(['min','max','sum','count']).droplevel(axis=1, level=[0]).reset_index()
run_agg

   Division       Round             Rider  Run  min  max  sum  count
0  Amateurs  Qualifiers  Jakub Janczewski  1.0   62   62   62      1
1  Amateurs  Qualifiers     Patrick Thies  1.0  495  495  495      1
2    Rookie      Finals     Jelle Callens  1.0   36   36  180      5
3    Rookie      Finals     Jelle Callens  2.0   36   36  180      5
4    Rookie  Qualifiers     Jelle Callens  1.0   36   36  180      5
5    Rookie  Qualifiers     Jelle Callens  2.0   36   36  180      5
6    Rookie  Qualifiers        Oskar Kern  1.0   56   56   56      1
7    Rookie  Qualifiers    Samuel Schäder  1.0   84   84   84      1
8    Rookie  Qualifiers   Stewart Storrar  2.0   74   74   74      1

In [27]:
#-- normalize the scores per run
def stand_score(row):
    if row['count']>=3:
        res=(row['sum']-row['min']-row['max'])/(row['count']-2)
    else:
        res=row['sum']/row['count']
    return res

run_agg['normalized_score']=run_agg.apply(stand_score,axis=1)
run_agg

,Division,Round,Rider,Run,min,max,sum,count,normalized_score
0,Amateurs,Qualifiers,Jakub Janczewski,1.0,62,62,62,1,62.0
1,Amateurs,Qualifiers,Patrick Thies,1.0,495,495,495,1,495.0
2,Rookie,Finals,Jelle Callens,1.0,36,36,180,5,36.0
3,Rookie,Finals,Jelle Callens,2.0,36,36,180,5,36.0
4,Rookie,Qualifiers,Jelle Callens,1.0,36,36,180,5,36.0
5,Rookie,Qualifiers,Jelle Callens,2.0,36,36,180,5,36.0
6,Rookie,Qualifiers,Oskar Kern,1.0,56,56,56,1,56.0
7,Rookie,Qualifiers,Samuel Schäder,1.0,84,84,84,1,84.0
8,Rookie,Qualifiers,Stewart Storrar,2.0,74,74,74,1,74.0

In [30]:
run_agg_best=run_agg[['Division','Round','Rider','normalized_score']].groupby(['Division','Round','Rider']).aggregate(max).reset_index()
run_agg_best

   Division       Round             Rider  normalized_score
0  Amateurs  Qualifiers  Jakub Janczewski              62.0
1  Amateurs  Qualifiers     Patrick Thies             495.0
2    Rookie      Finals     Jelle Callens              36.0
3    Rookie  Qualifiers     Jelle Callens              36.0
4    Rookie  Qualifiers        Oskar Kern              56.0
5    Rookie  Qualifiers    Samuel Schäder              84.0
6    Rookie  Qualifiers   Stewart Storrar              74.0

In [46]:
#-- one table per division and round
divisions=list(set(run_agg_best.Division))
divisions

['Amateurs', 'Rookie']

In [63]:
html_result="<html><body>\n"
html_result+="<h1>EFSC results</h1>\n"
#-- qualifiers
html_result+="<h2>Qualifiers</h2>\n"
for division in divisions:
    html_result+="<h3>"+division+"</h3>\n"
    current_grp=run_agg_best[(run_agg_best.Division==division & run_agg_best.Round=="Qualifiers")].sort_values(by="normalized_score",ascending=False).copy()
    tmp=current_grp.to_html()
    html_result+=tmp+"\n"
        

#-- finals
html_result+="<br>\n"
html_result+="<h2>Finals</h2>\n"
for division in divisions:
    html_result+="<h3>"+division+"</h3>\n"



html_result+="</body></html>"
f = open("d:/data_science/results.html", "w")
f.write(html_result)
f.close()